<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EWon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F1EB819B1C004A2500BB39ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1EB81B41C004A2600BB39ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1EB81BF1C004A2600BB39ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
